body{
    background : #F5F5DC;
    color : black;
}
.top{
    cursor : pointer;
    border : none;
    width : 200px;
    margin-top : 50px;
    margin-left : 85px;
    margin-bottom :50px;
    display: inline-block;
}
.top:hover{
    border-bottom-width : 3.5px;
    border-bottom-style : solid;
    border-bottom-color: #ff0000;
}
button{
    background : black;
    color : white;
    text-align : center;
    text-decoration : none;
    margin-left : 100px;
    display : inline-block;
    padding : 4px 8px;
    border : 1px solid #00ff00;
    font-size: 0px;
    border-radius : 4px;
    transition-duration : 0.4s;
}
button:hover{
    background : #00ff00;
    color : white;
    font-size: 22px;
}
img{
    width : 50px;
    margin: 0px;
    height: 120px;
}
#main_img{
    position : fixed;
    cursor : pointer;
    width : 800px;
    height : 562px;
    margin-left : 120px;
    margin-bottom :50px;
    position : static;
}
